@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Daxton's Pickleball Page</h1>
    <h2></h2>
    <img src="~/img/pickleball.jpeg" />
    <br />
    <p>
        Welcome to the wonderful world of pickleball! Originating in the mid-1960s, pickleball was concocted as a family-friendly game, 
        perfect for all ages and skill levels. On an island just off the coast of Seattle, Washington, 
        Joel Pritchard and his friends found themselves with limited options for entertainment one summer afternoon. 
        With a few household items and a dash of creativity, they improvised a game combining elements of tennis, badminton, 
        and ping-pong, thus giving birth to pickleball.

        Fast forward to the present day, and pickleball has skyrocketed in popularity, captivating enthusiasts across the globe. 
        Its recent surge in fame can be attributed to its accessibility, requiring minimal equipment and offering a gentle learning curve. 
        Plus, its emphasis on fun and social interaction makes it irresistible to both seasoned athletes and newcomers alike.
    <p/>
    <br />
    <img src="~/img/young.jpeg" />
    <br />
    <p>
        My personal journey with pickleball began during my mission in Sacramento, California. Introduced to the sport by fellow 
        missionaries, I instantly fell in love with its fast-paced action and infectious energy. Whether engaged in a spirited 
        doubles match or honing my skills during solo practice sessions, pickleball has become an integral part of my life.

        What's not to love about pickleball? It's a delightful blend of strategy, athleticism, and camaraderie that keeps me coming 
        back for more. From the satisfying "pop" of the paddle striking the ball to the thrill of a well-executed rally, every moment 
        spent on the court fills me with joy and excitement. Simply put, pickleball is more than just a game—it's a passion that brings 
        people together and leaves a lasting impression on all who experience its charm.
    </p>
    <br />
</div>
