@{
    ViewData["Title"] = "Pricing Calculator";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <label for="hours">Enter number of hours:</label>
    <input type="number" id="hours" min="0" required>

    <label>Hourly rate:</label>
    <input type="text" id="hourlyRate" value="$25" readonly>

    <button id="calculateButton">Calculate</button>

    <div class="output">
        <label>Total:</label>
        <span id="total"></span>
    </div>
</div>

<!-- Include jQuery from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/calculatetotal.js"></script>